<!-- NAVBAR-->
{% extends 'base.html' %}
{% block navbar %}

  <div class="card" style="width: 18rem;" class ='text-center' >
    <div class="card-body">
      <h5 class="card-title">News</h5>
      <p class="card-text">
        {% for note in notes.items %}
          {{note}}<div></div>
        {%endfor%}
      </p>
    </div>
  </div>
{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
